{# First Template #}
<h1>Hello, World!</h1>

<p>Now is: {{date.format('d.m.Y H:i:s')}}</p>
<p>_GET['test']: {{test}}</p>
<p>_ENV['USER']: {{USER}}</p>
<p>config.php:TEST={{cfgTEST}}</p>


<p>You could <a href="/login">login</a>.</p>
